/AnagramGame/nbproject/private/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/GravityCalculator/nbproject/private/
/Gravity/nbproject/private/
/Gravity/build/
/CS1102/nbproject/private/
/CS1102/build/
/SnakeEyes/nbproject/private/
/SnakeEyes/build/
/SnakeEyesAverage/nbproject/private/
/SnakeEyesAverage/build/
/Enums/nbproject/private/
/Enums/build/
/IceCream/nbproject/private/
/IceCream/build/